$footerText: #8a8a8a;
$titleCarousel: #555;
$orange: hsl(31, 100%, 50%);
$paleBlue: #5E889F;
$buttonColorHover: #563434;
$textColor: white;
$buttonColor:#ff523b;
$backGroundFooter: black;
$megaBox: blueviolet;
$textColorSmoke: whitesmoke;
$h3Color: #fff;