.carosel {
    position: relative;
    height: 550px;
    width: 60%;
    margin: 0 auto;
    top: 100px;

    .carosel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
        cursor: pointer;

        img {
            width: 30px;
        }   
    }

    .carosel_button--left {
        left: -35px;
    }
    
    .carosel_button--right {
        right: -35px;
    }

    .carosel-track-container {
        height: 100%;
        position: relative;
        overflow: hidden;

        .carosel-track {
            list-style: none;
            padding: 0;
            margin: 0;
            transition: transform 250ms ease-in;

            .carosel-slide {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 25vw;
                
            }
        }
    }

    .carosel-nav{
        display: flex;
        justify-content: center;
        padding: 10px 0;

        .carosel-indicator {
            border: 0;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: rgba(0, 0, 0, 0.3);
            margin: 0px 12px;
            cursor: pointer;

            &.current-slide {
                background: rgba(0, 0, 0, .75);
            }
        }
    }
}